body.classic-theme * {
	font-family: Candara, Constantia, Corbel, Tahoma, Verdana, Arial, sans-serif;
}

body.classic-theme *, body.classic-theme *:before, body.classic-theme *:after {
  box-sizing: border-box;
}

html body.classic-theme  {
	margin: 0;
	padding: 0;
}

body.classic-theme {
  margin: 0;
  padding: 0;
  background-color: white; /*#C5C5C5;*/
  overflow-x: hidden;
}

body.classic-theme #headerContent {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
}

body.classic-theme #navigationBar {
  width: 100%;
  /* background-color: #888888; */
  background-image: linear-gradient(to bottom, #585858, #828282 35%, #b5b5b5 80%, #a0a0a0);
  /*background-image: linear-gradient(to bottom, #585858, #a0a0a0 100%);*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  border-bottom: 1px solid #585858;
  margin: 0;
  z-index: 10;
}

body.classic-theme #statusBar {
	width: 100%;
	background: #c0d0e0; /*#c5c5c5; /*#dcdcdc; #b5b5b5; #a1d79d;*/ /*#dcdcdc;*/
	padding: 0;
	border-bottom: 1px solid #585858;
}

body.classic-theme #statusBarContainer {
	display: flex;
	align-items: stretch;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
}

body.classic-theme .statusBarSection {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin-left: 1.5em;
	margin-right: 1.5em;
}

body.classic-theme .statusBarRoomCode {
	background: RebeccaPurple; /*darkgreen;*/
    padding: 0.15em .4em;
    /* border: 2px solid black; */
    border-radius: 5px;
    /* box-shadow: 5px 5px #585858; */
    font-weight: bold;
    color: white;
    font-family: Consolas, "Courier New", monospace;
    /*font-size: 1em;*/
    letter-spacing: 0.1em;
}

body.classic-theme .statusBarGameType {
    font-weight: bold;
}

body.classic-theme .statusBarSection > span {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-size: 1em;
}

body.classic-theme .statusBarCenter {
	flex-grow: 1;
	flex-shrink: 1;
}

body.classic-theme .statusBarLeft {
	flex-grow: 0;
	flex-shrink: 0;
}

/*
.statusBarRight, .statusBarLeft {
	width: 15%;
}

.statusBarLeft {
	flex-wrap: nowrap;
	justify-content: flex-start;
}

.statusBarCenter {
	flex-wrap: wrap;
	justify-content: center;
}

*/

body.classic-theme .statusBarRoomCodeLabel,
body.classic-theme .statusBarGameTypeLabel {
	/*font-weight: bold;*/
	/*margin-left: 0.25em;*/
	margin-right: 0.5em;
}

body.classic-theme .statusBarChatModeLabel {
	/*font-weight: bold;*/
	/*margin-left: 0.25em;*/
	margin-right: 0.25em;
}


body.classic-theme img.chatControlImg {
	width: 20px;
	margin: 0;
}

body.classic-theme button.chatControlButton {
	padding: 4px;
	text-align: center;
	margin-left: 0.25em;
	width: 28px;
	height: 28px;
}


body.classic-theme .statusBarGameState {
	padding: 0.25em 0.5em;
	border-radius: 5px;
	/*font-size: 1.1em;*/
}

body.classic-theme .statusBarGameState.completedState {
	background: #a1d79d; /* palegreen; */
	border: 1px solid black;
}

body.classic-theme .statusBarGameState.activeState {
	background: DarkGreen;
    font-weight: bold;
    color: white;
    border: 2px solid black;
}

body.classic-theme .statusBarGameState.futureState {
	background: #b5b5b5;
	color: #585858;
	border: 1px solid #585858;
}



body.classic-theme img.separator {
	width: 0.5em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}
/*
.statusBarCenter {
	width: 65%;
}
*/

body.classic-theme #navigationBar > div {
  margin-left: 10px;
  margin-right: 15px;
}

body.classic-theme #transitionMessage {
	font-weight: bold;
	margin-top: 3em;
	font-size: 2.5em;
	text-align: center;
	color: MediumBlue;
	margin-left: auto;
	margin-right: auto;
}

body.classic-theme input[type=text] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  font-size: 1.1em;
  font-family: "Lucida Console", sans-serif;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  
}

body.classic-theme button {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
  /* ox-shadow: 3px 3px #828282; */
  font-size: 1.1em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  /*background-color: MediumBlue; */
  background: linear-gradient(to bottom, #1133ff 5%, #0000cd 100%);
  color: white;
  transition-duration: 0.4s;
}

body.classic-theme button:hover {
	background: linear-gradient(to bottom, #215aff 5%, #0F2FFF 100%);
	cursor: pointer;
}

body.classic-theme .sixtyPercent {
	width: 60%;
}

body.classic-theme .eightyPercent {
	width: 80%;
}

body.classic-theme .ninetyPercent {
	width: 90%;
}

body.classic-theme .pageContainer {
	padding: 20px;
	border: 2px solid black;
	border-radius: 10px;
	background: #ffe566; /*Gold; /*#c5c5c5; /*#99b9ff; Khaki;*/
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 1.5em;
	box-shadow: 5px 5px #888888;
}

body.classic-theme #gameContainer.pageContainer {
	background: #a1d79d; /*Gold; /*#c5c5c5; /*#99b9ff; Khaki;*/
}

body.classic-theme #roomCodeDisplay, #gameUrlDisplay {
	text-align: center;
	margin: 1em;
}

body.classic-theme #gameUrlDisplay {
	font-family: Consolas, "Courier New", monospace;
	font-size: 0.9em;
	font-weight: bold;
}

body.classic-theme #gameRoomSetupRoomCode {
    background: RebeccaPurple; /*darkgreen;*/
    padding: 0.15em .4em;
    /* border: 2px solid black; */
    border-radius: 5px;
    /* box-shadow: 5px 5px #585858; */
    font-weight: bold;
    color: white;
    font-family: Consolas, "Courier New", monospace;
    font-size: 1.75em;
    letter-spacing: 0.1em;
}

body.classic-theme #copyToClipboardContainer {
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

body.classic-theme #copyToClipboardContainer button {
	margin-left: 1em;
	margin-right: 1em;
}

body.classic-theme #copyToClipboardContainer button,
body.classic-theme #sendChatDiv button {
	padding: 0.5em 1em;
	font-size: 1em;
}

body.classic-theme #copyResultsContainer {
	height: 2.5em;
}

body.classic-theme #copyResults {
	background: skyblue;
	border-radius: 0.5em;
	font-size: 1.1em;
	padding: 0.25em 0.75em;
	font-weight: bold;
}

body.classic-theme .pageContainer h1 {
	text-align: center;
	margin-top: 0px;
}

body.classic-theme .welcomeFormSection {
	margin-top: 1em;
}

body.classic-theme .welcomeFormSection label {
	font-weight: bold;
}

body.classic-theme #skipEmailLabel {
	font-weight: normal;
}

body.classic-theme .welcomeFormSection input[type=text] {
	min-width: 10em;
}

body.classic-theme .startPageFormContainer {
	width: 20em;
	margin-left: auto;
	margin-right: auto;
}

body.classic-theme .instructions {
	font-size: 1.5em;
	color: MediumBlue;
	font-weight: bold;
}

body.classic-theme .startPageInstructions {
	margin-top: 1.5em;
	text-align: center;
}

body.classic-theme #lobbyPage {
	width: 80%;
}

body.classic-theme .lobbyPageInstructions {
	margin-top: 0.75em;
	margin-bottom: 1em;
	text-align: center;
}

body.classic-theme .lobbyPageInstructions2 {
	display: none;
}

body.classic-theme #gamePromptsInstructions {
	text-align: center;
}

body.classic-theme .welcomeFormContainer {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

body.classic-theme .lobbyOptionsContainer, 
body.classic-theme .welcomeOptionsContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-evenly;
}

body.classic-theme .lobbyOptionCard, 
body.classic-theme .welcomeOptionCard {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	background: #dcdcdc; /*#a2a2a2;*/
	/*margin-left: 1.5em; 
	margin-right: 1.5em;*/
	margin: 1.5em; 
	padding: 10px;
	border-radius: 10px;
	border: 2px solid #464646;
	box-shadow: 5px 5px #888888;
}

body.classic-theme #roomCodeInputLabelDiv {
	display: none;	
}

body.classic-theme #roomCodeInputDiv {
	text-align: center;	
}

body.classic-theme #roomCodeErrorDiv {
	margin-bottom: 1em;
	font-weight: bold;
	color: FireBrick;
	width: 20em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

body.classic-theme #overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(30, 30, 30, 0.85);
	z-index: 20;
}

body.classic-theme .overlayCard {
	width: 45em;
	background: #dcdcdc; /*#a2a2a2;*/
	margin-top: 10%;
	margin-bottom: 15%; 
	padding: 1em;
	border-radius: 1.5em;
	border: 2px solid black;
	/*box-shadow: 5px 5px #888888;*/
}

body.classic-theme #overlayHamburgerMenu {
	display: none;
	position: fixed;
	background: white;
	border-radius: 5px;
}

body.classic-theme #hamburgerMenuContent {
	padding: 5px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: stretch;
}

body.classic-theme .hamburgerItem {
	/*margin-bottom: 10px;
	border-radius: 5px;*/
	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10px;
}

body.classic-theme .hamburgerItem .hamburgerMenuItemLabel {
	flex-grow: 1;
	text-align: left;
}

body.classic-theme .hamburgerItem .hamburgerMenuItemIcon {
	width: 25px;
	margin-right: 20px;
}

/*
body.classic-theme .hamburgerItem:last-child {
	margin-bottom: 0;
}*/

body.classic-theme .hamburgerItem:hover {
	background: #f4f4f4; /* #dcdcdc;*/
	color: var(--button-color);
	cursor: pointer;
}

body.classic-theme .overlayBottomCell {
	width: 33%;
	flex-grow: 1;
	flex-shrink: 0;
}

body.classic-theme .overlayBottomCell.buttonCell {
	text-align: center;
}

body.classic-theme .overlayBottomCell.linkCell {
	text-align: right;
}

body.classic-theme .overlayBottomContainer {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}

body.classic-theme a.overlayCancelLink, 
body.classic-theme a.overlayCancelLink:visited {
	color: MediumBlue;
	font-size: 1.25em;
}

body.classic-theme .overlayErrorDiv {
	color: FireBrick;
}

body.classic-theme .gameSetupOptionsContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/*width: 100%;*/
	justify-content: space-between;
	align-items: stretch;
	margin-left: -20px;
	margin-right: -20px;
}

body.classic-theme .centered {
	margin-left: auto;
	margin-right: auto;
}

body.classic-theme .centeredContent {
	text-align: center;
}


body.classic-theme .gameSetupOptionsSection {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	/*background: #dcdcdc; /*#a2a2a2;*/
	/*margin-left: auto; 
	margin-right: auto;*/ 
	/*padding: 10px;
	border-radius: 10px;*/
	/*border: 1px solid #464646;
	box-shadow: 5px 5px #888888;*/
}


body.classic-theme .gameSetupOptionsCard {
	background: #dcdcdc; /*#a2a2a2;*/
	padding: 15px;
	border-radius: 10px;
	border: 1px solid #464646;
	box-shadow: 5px 5px #888888;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 1em;
	flex-grow: 1;
	flex-shrink: 1;
}

body.classic-theme #responseWaitingSection {
	width: 60%;
}


body.classic-theme #responseWaitingBanner {
	text-align: center;
    color: MediumBlue;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

body.classic-theme.votingSection {
	width: 80%;
}

body.classic-theme #votingTitle {
	margin-bottom: 0.5em;
}

body.classic-theme .prompt {
    text-align: center;
    font-size: 1.75em;
    font-weight: bold;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 0.75em;
}

body.classic-theme .instructions.votingSubtitle {
	font-size: 1.25em;
	margin-bottom: 0.25em;
}

body.classic-theme .resultsSectionDiv .instructions {
    font-size: 1.25em;
    color: black;
}

body.classic-theme #votingChoicesContainer {
	margin: 0 auto;
	width: 90%;
}

body.classic-theme #myAnswer.drawingGameType {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	background-color: transparent;
}

body.classic-theme div.responseImageDiv {
	text-align: center;
	margin: 0.25em auto;
}

body.classic-theme .vote-button.drawing-vote-button {
	width: auto;
}

body.classic-theme img.drawingImg {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #666;
}

body.classic-theme #myAnswer {
	font-family: consolas;
    color: white;
    font-size: 1.5em;
    margin-top: 0.25em;
    margin-bottom: 2em;
    text-align: center;
    font-weight: bold;
    background: #808080;
    padding: 0.25em;
    border-radius: 15px;
    border: 1px solid black;
    white-space: pre-wrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

body.classic-theme #votingChoicesDiv {
	margin: 0;
	padding: 0;
}

body.classic-theme button.vote-button {
	display: block;
	background: linear-gradient(to bottom, #678eff 5%, #0000cd 100%);
    padding: 0.5em;
    text-align: center;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-top: 0.5em;
    margin-bottom: 0.75em;
    margin-right: auto;
    font-size: 1.5em;
    border-radius: 25px;
    font-family: Consolas;
    font-weight: bold;
    letter-spacing: 0.02em;
    white-space: pre-wrap;
}

body.classic-theme button.vote-button:hover {
	background: linear-gradient(to bottom, #4275ee 5%, #0000aa 100%);
}

body.classic-theme .gameSetupOptionsCard .instructions, 
body.classic-theme .gameUserStatusCard .instructions, 
body.classic-theme #finalGameSummaryBanner {
	text-align: center;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

body.classic-theme #gameSetupStatusContainer {
	display: block;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;	
	overflow-y: scroll;
	border-radius: 5px;
	font-family: "Lucida Console", monospace;
	background: white;
	border: 1px solid #464646;
	padding: 10px;
}

body.classic-theme .roomUpdateMessage {
	padding: 0.5em;
	border-radius: 5px;
	/*font-family: monospace;*/
	margin-bottom: 0.5em;
	background: #b0b0b0;
}

body.classic-theme .userChatDiv {
	text-align: left;
	margin-bottom: 0.5em;
	margin-right: 20%;
	margin-left: 0%;
}

body.classic-theme .userChatDiv.mine {
	text-align: right;
	margin-left: 20%;
	margin-right: 0%;
}

body.classic-theme .messageText {
	display: inline-block;
	text-align: left;
}

body.classic-theme .userChatName {
	display: inline-block;
	font-size: 0.8em;
}

body.classic-theme .userChatMessage {
	margin-top: 0.1em;
	padding: 0.5em;
    border-radius: 5px;
    background: skyblue;
    display: inline-block;
}


/*
.roomUpdateMessage:last-child {
	font-weight: bold;
}*/

body.classic-theme .roomUpdateMessage .preserve-spaces {
	font-family: monospace;
}

body.classic-theme .optionCardTitle {
	text-align: center;
	font-size: 1.25em;
	font-weight: bold;
	/*text-decoration: underline;*/
		
	
	color: MediumBlue;
	margin-bottom: 0.5em;
	
}

body.classic-theme .cardSubtitle {
	font-size: 1em;
	color: MediumBlue;
	font-weight: bold;
	margin-top: 1.5em;
}

body.classic-theme .gameTypeDescription {
	margin-top: 0.25em;
	margin-bottom: 0;
}

body.classic-theme .gameTypeButtonContainer {
	text-align: center;
}


body.classic-theme #gamePromptsDiv {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

body.classic-theme .promptNumberDiv {
	font-weight: bold;
	font-size: 1.25em;
	color: MediumBlue;
	/*text-decoration: underline;*/
}

body.classic-theme .promptTextDiv {
	font-size: 1.5em;
	/*color: MediumBlue;*/
	font-weight: bold;
	margin-top: 0.5em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

body.classic-theme .promptResponseDiv {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	text-align: center;
}

body.classic-theme input.promptResponse {
	width: 100%;
}

body.classic-theme canvas.drawingCanvas {
	border: 1px solid #666;
    /*width: 400px;
    height: 400px;*/
}

body.classic-theme .drawing-controls {
	width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #cdcdcd;
    padding: 0.5em;
    border-radius: 5px;
}

body.classic-theme div.color-palatte {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: space-between;
}

body.classic-theme .tools-label {
	font-weight: bold;
	text-align: left;
}

body.classic-theme .brush-size-label,
body.classic-theme div.clear-canvas-container {
	margin-top: 0.75em;
}

body.classic-theme div.clear-canvas-container button {
	font-size: 1em;
	margin: 0.25em 0.75em;
}

body.classic-theme div.color-choice {
	width: 23px;
	height: 23px;
	margin: 6px;
	border-radius: 3px;
}

body.classic-theme .black-square {
	background-color: black;
}

body.classic-theme .green-square {
	background-color: green;
}

body.classic-theme .blue-square {
	background-color: blue;
}

body.classic-theme .red-square {
	background-color: red;
}

body.classic-theme .yellow-square {
	background-color: yellow;
}

body.classic-theme .orange-square {
	background-color: orange;
}

body.classic-theme .brown-square {
	background-color: brown;
}

body.classic-theme .cyan-square {
	background-color: cyan;
}

body.classic-theme .purple-square {
	background-color: purple;
}

body.classic-theme .gray-square {
	background-color: gray;
}


body.classic-theme .white-square {
	background-color: white;
}

body.classic-theme div.color-choice-container:hover div.color-choice {
	cursor: pointer;
}

body.classic-theme div.color-choice-container:hover div.color-choice,
body.classic-theme div.color-choice-container.selected-color div.color-choice {
	width: 27px;
	height: 27px;
	margin: 4px;
	border-radius: 3px;
}

body.classic-theme div.size-choice-container {
	width: 35px;
    flex-grow: 0;
    flex-shrink: 0;
}

body.classic-theme div.size-choice {
	font-size: 1em;
	text-align: center;
	font-weight: normal;
	color: var(--form-label-color);
	margin-top: 0.15em;
	margin-bottom: 0.15em;
}

body.classic-theme div.size-choice-container:hover div.size-choice,
body.classic-theme div.size-choice-container.selected-size div.size-choice {
	font-weight: bold;
	color: black;
}

/*
body.classic-theme div.color-choice-container  {
	margin-top: 2px;
}*/

body.classic-theme div.color-choice-container .arrow-container,
body.classic-theme div.size-choice-container .arrow-container  {
	display:none;
}

body.classic-theme div.color-choice-container.selected-color .arrow-container,
body.classic-theme div.size-choice-container.selected-size .arrow-container  {
	display: block;
	text-align: center;
}

/*
body.classic-theme div.color-choice-container.selected-color  {
	margin-top: 0px;
}*/

body.classic-theme div.brush-size {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: space-between;
}

body.classic-theme div.size-choice:hover {
	cursor: pointer;
}

body.classic-theme .gamePromptSectionCard {
	background: #dcdcdc; /*#a2a2a2;*/
	padding: 15px;
	border-radius: 10px;
	border: 1px solid #464646;
	box-shadow: 5px 5px #888888;
	margin-bottom: 2em;
}

body.classic-theme .gameUserStatusSection {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 80%;
	justify-content: space-evenly;
	margin-top: 3em;
	margin-left: auto;
	margin-right: auto;
}

body.classic-theme .basicCard {
	background: #dcdcdc; /*#a2a2a2;*/
	margin: 1em auto; 
	padding: 1em;
	border-radius: 10px;
	border: 1px solid #464646;
	box-shadow: 5px 5px #888888;
}

body.classic-theme .gameUserStatusCard {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	background: #dcdcdc; /*#a2a2a2;*/
	margin-left: 1.5em; 
	margin-right: 1.5em; 
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #464646;
	box-shadow: 5px 5px #888888;
}

body.classic-theme #gamUserStatusCardLeft {
	margin-right: 10px;
}

body.classic-theme #gamUserStatusCardRight {
	margin-left: 10px;
}

body.classic-theme #userStatusWorkingEmpty, 
body.classic-theme #userStatusFinishedEmpty {
	margin-top: 0.5em;
	text-align: center;
	font-size: 1.25em;
	font-weight: bold;
	color: #353535;
}

body.classic-theme .logoWrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

body.classic-theme .fullWidth {
	width: 100%;
}

body.classic-theme #nameBox {
  margin-top: auto;
  margin-bottom: auto;
}

body.classic-theme .align-right {
	text-align: right;
}

body.classic-theme #navBarName, 
body.classic-theme #changeNameLinkContainer {
	text-align: right;
}

body.classic-theme .preserve-spaces {
	white-space: pre-wrap;
}

body.classic-theme .option-header {
	margin-bottom: 5px;
}

body.classic-theme .collapsed-list {
	margin-top: 5px;
}

body.classic-theme .userList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    text-align: center;
}

body.classic-theme .userList li, 
body.classic-theme table.finalScoresTable td.playerName div {
    display: inline-block;
    background: mediumturquoise;
    font-size: 1.25em;
    font-family: tahoma;
    font-weight: normal;
    padding: 0.5em 1em;
    margin: 0.25em 0.5em;
    border-radius: 5px;
    border: 3px solid #353535;
    color: #353535;
}

body.classic-theme #completeGameSetupDiv {
	text-align: center;
}

body.classic-theme #completeGameSetupButton {
	font-size: 1.25em;
}

body.classic-theme button.disabled-waiting, 
body.classic-theme button.disabled-waiting:hover {
	background: #555555;
    color: #cdcdcd;
    cursor: default;
}

body.classic-theme #navBarName {
	font-weight: bold;
	font-size: 2.25em;
	
	/*
	font-size: xx-large;
	font-weight: bold;
	margin-bottom: 10px;
	*/
}

body.classic-theme #navBarEmail {
	font-size: 1.25em;
}

body.classic-theme #navTools {
	display: flex;
	justify-content: flex-end;
	align-items: stretch;
	padding: 0.25em;
}

body.classic-theme #navAccountContainer {
	align-items: flex-end;
	justify-content: center;
	margin-right: 1em;
}

body.classic-theme .navContainer {
	display:flex;
	height: 100%;
	flex-direction: column;
}

body.classic-theme .navButtonContainer {
	align-items: center;
	justify-content: space-evenly;
	margin-left: 0.75em;
}

body.classic-theme button.navButton {
	padding: 0.75em;
	font-size: 0.75em;
}

body.classic-theme button.navButton img {
	width: 40px;
}

body.classic-theme #changeNameOptionsContainer {
	margin-top: 5px;
	margin-bottom: 5px;
}

body.classic-theme #gameSetupLeaveContainer {
	margin-top: 50px;
}

body.classic-theme #lobbyUserMessageContainer {
	margin: 1em auto;
    border: 1px solid black;
    padding: 1em;
    background-color: LightSkyBlue;
    width: 40%;
    box-shadow: 5px 5px #888888;
    border-radius: 5px;
}

body.classic-theme #lobbyUserMessage {
	text-align: center;
}

body.classic-theme #lobbyUserDismissLinkDiv {
	text-align: center;
	margin-top: 1em;
}

body.classic-theme #resultsNavDiv, 
body.classic-theme #finalGameSummaryNavDiv {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
}

body.classic-theme #logo1 {
	display: inline-block;
}

body.classic-theme #logo2 {
	display: none;
}


body.classic-theme .logoImage {
  max-width: 300px;
  height: auto;
}

body.classic-theme #changeNameSubmitButton, 
body.classic-theme #changeNameInput {
	margin-left: 10px;
}

body.classic-theme .noVotes {
	text-align: center;
    margin: 0.5em 0.5em;
}

body.classic-theme .noVotes span {
	font-size: 1.25em;
    font-family: tahoma;
    color: Black;
}

body.classic-theme .resultsSectionDiv {
    width: 90%;
    background: #b1d5ff;
    border-radius: 10px;
    box-shadow: 5px 5px #888888;
    margin: 2em auto 25px auto;
    padding: 1em;
    border: 1px solid black;
}

body.classic-theme .resultAnswer {
    font-weight: bold;
    text-align: center;
    /* width: 80%; */
    font-family: Consolas;
    background: #5f5f5f;
    color: white;
    margin: 0.25em auto;
    border-radius: 15px;
    font-size: 1.5em;
    padding: 0.5em;
}

body.classic-theme #gameScoresPage .userList li, 
body.classic-theme #gameScoresPage .userList li span {
	font-size: 1.25em;
	font-weight: normal;
}

body.classic-theme #returnToLobbyDiv {
	text-align: center;
}

body.classic-theme #reviewPhaseNavDiv {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

body.classic-theme #reviewPhaseNavDiv.oneLeftButton {
	justify-content: flex-start;
}

body.classic-theme #reviewPhaseNavDiv.oneRightButton {
	justify-content: flex-end;
}

body.classic-theme #reviewPhaseNavDiv.twoButtons {
	justify-content: space-between;
}

body.classic-theme table.finalScoresTable {
	width: 60%;
    margin: 1em auto;
    border-collapse: collapse;
    /* border: 2px solid #575757; */
    
}

body.classic-theme table.finalScoresTable td {
	background-color: #b1d5ff;
}

body.classic-theme table.finalScoresTable th {
	background-color: #a1a1a1;
	font-size: 1.75em;
    font-weight: bold;
}

body.classic-theme table.finalScoresTable td, 
body.classic-theme table.finalScoresTable th {
    border: 2px solid #575757;
    padding: 0.25em;
    text-align: center;
    vertical-align: middle;
}

body.classic-theme table.finalScoresTable td.playerName div {
    border: 2px solid #575757;
    padding: 0.5em;
    font-size: 1.5em;
    font-weight: bold;
}

body.classic-theme table.finalScoresTable td.playerScore div {
    font-size: 1.75em;
    font-weight: normal;
}

body.classic-theme #outerChatContainer {
	width: 0;
	flex-grow: 1;
	/*
	position: relative;
	top: 30px;
	left: 0;
	height: 500px;
	background: #a1d79d;
	width: 100%;
	*/
}

body.classic-theme #contentContainer {
	flex-grow: 1;
}

body.classic-theme #smallChatContainerDiv {
	position: fixed;
	background: #a1d79d;
	border-radius: 0 10px 10px 0;
	border-top: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	padding: 20px;
}

body.classic-theme.full-chat #smallChatContainerDiv {
	position: static;
	background: #a1d79d;
	border-radius: 10px;
	border: 2px solid black;
	padding: 20px;
}

body.classic-theme #sendChatDiv {
	margin-top: 0.25em;
}

body.classic-theme #chatHistoryArea {
	flex-grow: 1;
	background: white;
	border: 1px solid black;
	border-radius: 5px;
	overflow-y: scroll;
	padding: 5px;
}

body.classic-theme #smallChatContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: stretch;
	width: 100%;
	height: 100%;
}

body.classic-theme #smallChatContainer h1 {
	text-align: center;
	margin-top: 0;
}

body.classic-theme #bodyContent {
	display: flex;
	margin: 0;
	padding: 0;
	flex-direction: rows;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
}

/*
#bodyContent.no-chat #chatContainer {
	display: none;
}

#bodyContent.no-chat #contentContainer {
	display: block;
	width: 100%;
}

#bodyContent.small-chat #chatContainer {
	display: block;
	width: 35%;
}

#bodyContent.small-chat #contentContainer {
	display: block;
	width: 65%;
}
*/

body.classic-theme #minChatSection {
	position: fixed;
	top: 130px;
	left: 0;
	height: 100px;
	width: 5%;
}

body.classic-theme #minChatContainer {
	
}

body.classic-theme #smallChatSection {
	position: fixed;
	top: 130px;
	left: 0;
	height: 100px;
	
}

/*
button.review-nav-button.reviewPrevious {
	margin-left: 1em;
	margin-right: auto;
}

button.review-nav-button.reviewNext {
	margin-left: auto;
	margin-right: 1em;
}
*/